@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.navBarCustom {
    /*background: linear-gradient(270deg, #26242E 0%, #562874 47.4%, #26242E 100%);*/
    /*border: 1px solid black;*/
}

.mainBannerDiv {
    background: linear-gradient(90deg, #26242E 0%, #562874 48.96%, #26242E 100%);
}

.rowBannerDiv {
    padding-top: 5.5%;
    height: 90vh;
}

#navbarSupportedContent ul li a {
    font-size: 20px;
    font-weight: 500;
}

#btnSignInOrSignUp {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 1.2px;

    border-radius: 15px;
    background: linear-gradient(180deg, #26242E 0%, #2D283D 100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
}

#btnSignInOrSignUp:hover {
    background: linear-gradient(180deg, #2f2c38 0%, #2D283D 100%);
}

.imgBannerCar {
    width: 40vw;
}

#bannerText1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

#bannerText2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.4px;
    width: 35rem;

    margin-top: -20px;
}

#bannerText3 {
    color: transparent;
    font-family: Roboto;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 14.25px;
    -webkit-text-stroke: 2px #ffffff;
    margin-top: -20px;
}

#bannerText4 {
    color: #FFF;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.48px;
    width: 25rem;
}

#bannerText5 {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
    width: 26rem;
}

#btnFindACar {
    padding: 10px 30px;
    border-radius: 5px;
    background: linear-gradient(90deg, #26242E 0%, #552873 51.04%, #26242E 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}