@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.navBarCustom {
    /*background: linear-gradient(270deg, #26242E 0%, #562874 47.4%, #26242E 100%);*/
    /*border: 1px solid black;*/
}

.mainBannerDiv {
    background: linear-gradient(90deg, #26242E 0%, #562874 48.96%, #26242E 100%);
}

.rowBannerDiv {
    padding-top: 5.5%;
    height: 90vh;
}

#navbarSupportedContent ul li a {
    font-size: 20px;
    font-weight: 500;
}

#btnSignInOrSignUp {
    color: #FFF;
    font-size: 18px;
    letter-spacing: 1.2px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
}

#btnSignInOrSignUp:hover {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.imgBannerCar {
    margin-left: -5%;
    width: 42vw;
}

#colFirst {
    margin-top: -5%;
}

#bannerText1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;

    margin-left: -1.5vw;
}

#bannerText2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 12.7px;
    width: 35rem;

    margin-top: -20px;
}

#bannerText3 {
    color: transparent;
    font-family: Roboto;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 14.25px;
    -webkit-text-stroke: 2px #ffffff;
    margin-top: -20px;
}

#bannerText4 {
    color: #FFF;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.48px;
    width: 25rem;
}

#bannerText5 {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
}

#btnFindACar {
    padding: 10px 30px;
    border-radius: 10px;
    background: linear-gradient(90deg, #26242E 0%, #552873 51.04%, #26242E 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#bannerDescription {
    border-radius: 15px;
    background: #FAFAFA;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.17);
    height: 18vh;

    margin-top: -4%;
}

#bannerDescription h5 {
    color: #26242E;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -3px;
}

#bannerDescription h6 {
    color: #494753;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: -15%;
}

#bannerDescription hr {
    transform: rotate(90deg);
}


/*Company Details Container*/
.companyDetailsContainer > div > div {
    height: 300px;
    width: 300px;
    border: 1px solid #ececec;
    border-radius: 10px;
    transition: 1s;
}

.companyDetailsContainer > div > div:hover {
    border: 1px solid transparent;
    transition: 0.1s;
    box-shadow: 0px 20px 80px -15px rgba(0, 0, 0, 0.25);
}

.companyDetailsContainer > div > div > div > div {
    width: 80px;
    height: 80px;
    background: rgba(191, 215, 193, 0.19);
    border-radius: 80px;
}

.companyDetailsContainer > div > div > div > div > img {
    object-fit: scale-down;
}

.companyDetailsContainer > div > div > div > h5 {
    color: #26242E;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
}

.companyDetailsContainer > div > div > div > h6 {
    color: #5E5A6D;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.32px;
    width: 100%;
}


/*carDescriptionContainer*/
#carDescriptionContainer {
    height: 25vh;
}

#carDescriptionContainer > img {
    object-fit: cover;
}


/*CardCardContainer*/
.carDetailsCardContainer {
}

.carDetailsCard {
    width: 415px;
    height: 660px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.carCardDivTwo {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.carCardDivTwo > p {
    color: #FFF;
    font-family: Smooch Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.8px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.carDetailsCardCarBrand {
    color: #2D283D;
    font-family: Smooch Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
}

.rating {
    margin-top: -6px;
}

.rating h6 {
    color: #2D283D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.72px;
    display: inline-block;
}

.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked) > label {
    float: left;
    cursor: pointer;
    font-size: 20px;
    color: #666666;
}

.rating:not(:checked) > label:before {
    content: '★';
}

.rating input:nth-child(-n + 8) + label {
    color: #ffcc00;
}

/*.rating > input:chec#star1 label {
    color: #8d14f5;
}ked + label:hover,#star1 label {
    color: #8d14f5;
}
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #4B2763;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #4B2763;
}

.rating > input:checked ~ label {
    color: #9243c4;
}*/

.otherCarDetails ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.otherCarDetails > div > ul > li > h6 {
    margin: 0 0 0 -10px;
    color: #3F2653;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
}

.otherCarDetails > div > ul > li > svg,
.otherCarDetails > div > ul > li > h5 {
    display: inline-block;
}

.otherCarDetails > div > ul > li > h5 {
    color: #2D283D;
    font-family: Smooch Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.5px;
}

.carToneDetailsDev > div:nth-child(2),
.carToneDetailsDev > div:nth-child(3),
.carToneDetailsDev > div:nth-child(4),
.carToneDetailsDev > div:nth-child(5) {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.otherCarDetailsTwo > div > img,
.otherCarDetailsTwo > div > h6 {
    display: inline-block;
}

.otherCarDetailsTwo > div > h6 {
    color: #2D283D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}


/*about us*/
.aboutUsContainer {
    margin-top: 150px;
}

.aboutTopicTxt {
    color: #2D283D;
    color: #2D283D;
    font-family: Smooch Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
}

.aboutDescriptionTxt {
    color: #2D283D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.2px;
}

.aboutDescriptionTxtList {
    color: #2D283D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

.aboutDescriptionTxtList li {
    margin-bottom: 15px;
}

.aboutDescriptionTxtList li img {
    margin-right: 5px;
}

.aboutDescriptionTxtSocialMediaList li {
    display: inline-block;
    margin-left: 15px;
}

.aboutDescriptionTxtSocialMediaList i {
    font-size: 30px;
}

#btnContactUs {
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(90deg, #26242E 0%, #552873 51.04%, #26242E 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/*ThankDescription*/
#descriptionsOfThanksContainerContent {
    margin-top: 150px;
}


/*Footer*/
.footer {
    margin-top: 150px;
}

.footerCompanyName {
    color: #D1D7E0;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footerDetailsList img,
.footerDetailsList h4 {
    display: inline-block;
    margin-right: 5px;
}

.footerDetailsList li {
    list-style-type: none;
}

.footerDetailsList img {
    width: 5%;
    text-align: center;
}

.footerDetailsList h4 {
    color: #D1D7E0;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
}

.footerDetailsSocialMediaList li {
    list-style-type: none;
    font-size: 30px;
    display: inline-block;
    margin-right: 15px;
}