@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);


.LoginPageBody {
    background: #26242E;
}

.loginFormContainer {
    width: 50rem;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.25);
}

.leftSideContainer {
    height: 600px;
    width: 45%;
    background: linear-gradient(180deg, #802BB1 0%, #26242E 100%);
}

.rightSideContainer {
    height: 600px;
    width: 55%;
}

#easyCarTextStyle {
    color: #D1D7E0;
    font-family: Smooch Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
}

#rentalPvtLtdStyle {
    font-family: Smooch Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    background: linear-gradient(180deg, #D1D7E0 0%, rgba(209, 215, 224, 0.60) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: -8% 0 0 10%;

}

.withOurTextStyle {
    color: #D1D7E0;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    margin: 0 0 0 10%;
}

.carRentalTextStyle {
    color: #D1D7E0;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-top: 2%;
}

#jeepImg {
    margin-top: -10%;
    margin-left: 10%;
    width: 25rem;
    position: relative;
    z-index: 2;
}

#jeepImg:hover {
    margin-left: calc(10% + 2px);
}

#welcomeBackFontStyle {
    color: #2D283D;
    font-family: Smooch Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2.7px;
}

#shortDescriptionTextStyle {
    color: #4C495D;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.08px;
    width: 70%;
    margin: auto;
}

.loginInput {
    width: 350px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #6D6D7E;
    background: #FFF;
    color: #4C495D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
}

.loginInput::placeholder {
    color: #4C495D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
}

.loginInput:focus {
    box-shadow: none;
}

.loginInput:hover {
    box-shadow: none;
    border: 1px solid rgba(25, 0, 166, 1.2);
}

#forgotPasswordTextStyle {
    color: #4C495D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

#btnSignIn {
    width: 350px;
    flex-shrink: 0;
    border-radius: 25px;
    border: none;
    background: linear-gradient(93deg, #802BB1 0%, #323232 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#btnSignIn:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(93deg, #26242E 0%, #802BB0 100%);
    transform: scale(1.01);
}

#btnSignIn:active {
    box-shadow: none;
    background: linear-gradient(93deg, #802BB1 0%, #323232 100%);
}

.underButtonTextStyle {
    color: #4C495D;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
}

.underButtonText2Style {
    color: #4C495D;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
}

#lnlSignUpTextStyle {
    text-decoration: none;
}

#signUpDescriptionTextStyle,
#lnlSignUpTextStyle {
    position: relative;
    top: -15px;
    display: inline-block;
}

#socialIcons {
    margin-top: -15px;
}

#socialIcons a {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#socialIcons a:hover {
    box-shadow: none;
}
