@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);


.LoginPageBody {
    background: #26242E;
}

.loginFormContainer {
    width: 50rem;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.25);
}

#easyCarTextStyle {
    color: #D1D7E0;
    font-family: Smooch Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
}

#rentalPvtLtdStyle {
    font-family: Smooch Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    background: linear-gradient(180deg, #D1D7E0 0%, rgba(209, 215, 224, 0.60) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.withOurTextStyle {
    color: #D1D7E0;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}

.leftSideContainer {
    height: 600px;
    width: 45%;
    background: linear-gradient(180deg, #802BB1 0%, #26242E 100%);
}

.rightSideContainer {
    height: 600px;
    width: 55%;
    z-index: -1;
}

#jeepImg {
    width: 25rem;
}
